<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Обзор-данных" data-toc-modified-id="1.-Обзор-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>1. Обзор данных</a></span></li><li><span><a href="#2.-Предобработка-данных" data-toc-modified-id="2.-Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>2. Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Обработка-пропусков" data-toc-modified-id="Обработка-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Обработка пропусков</a></span></li><li><span><a href="#Замена-типа-данных" data-toc-modified-id="Замена-типа-данных-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Замена типа данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Лемматизация" data-toc-modified-id="Лемматизация-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Лемматизация</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#3.-Ответить-на-поставленые-вопросы" data-toc-modified-id="3.-Ответить-на-поставленые-вопросы-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>3. Ответить на поставленые вопросы</a></span></li><li><span><a href="#4.-Общий-вывод" data-toc-modified-id="4.-Общий-вывод-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>4. Общий вывод</a></span></li><li><span><a href="#Чек-лист-готовности-проекта" data-toc-modified-id="Чек-лист-готовности-проекта-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист готовности проекта</a></span></li></ul></div>

# Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Цель иследования** - ответить на вопросы:

1. Есть ли зависимость между наличием детей и возвратом кредита в срок?
2. Есть ли зависимость между семейным положением и возвратом кредита в срок?
3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
4. Как разные цели кредита влияют на его возврат в срок?

**Ход иследования**

Входные данные от банка получаем из файла /datasets/data.csv. О качестве данных ничего не известно. Поэтому перед проверкой гепотиз понадобится обзор данных.

Таким образом иследование пройдет в четыре этапа:

1. Обзор данных.
2. Предобработка данных.
3. Ответить на поставленые вопросы.
4. Написать общий вывод.

## 1. Обзор данных

Импортируем библиотеку `pandas`

In [1]:
import pandas as pd # импорт библиотеки pandas

Читаем файл data.csv из папки /datasets и сохраните его в переменной df:

In [2]:
df = pd.read_csv('/datasets/data.csv') # чтение файла с данными и сохранение в df

Выводим на экран первые десять строк таблицы:

In [3]:
display(df) # получение первых 10 строк таблицы df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

Получаем общую информацию о таблице:

In [4]:
df.info() #получение общей информации о таблице

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Итак, в таблице двенадцать столбцов.

Согласно документации к данным:

* `children` — количество детей в семье
* `days_employed` — общий трудовой стаж в днях
* `dob_years` — возраст клиента в годах
* `education` — уровень образования клиента
* `education_id` — идентификатор уровня образования
* `family_status` — семейное положение
* `family_status_id` — идентификатор семейного положения
* `gender` — пол клиента
* `income_type` — тип занятости
* `debt` — имел ли задолженность по возврату кредитов
* `total_income` — ежемесячный доход
* `purpose` — цель получения кредита

Количество значений в столбцах различаются. Значит, в данных есть пропущенные значения.

**Вывод**

В каждой строке таблицы - данные о заёмщике.
Предварительно можно утверждать, что, данных достаточно для проверки гипотез. Но встречаются пропуски в данных.

Чтобы двигаться дальше, нужно устранить проблемы в данных.

## 2. Предобработка данных

### Обработка пропусков

Сначало подсчитаем сколько в таблице пропущенных значений. Для этого достаточно двух методов `pandas`:

In [5]:
display('Пропуски до:', df.isna().sum()) # подсчёт пропусков

'Пропуски до:'

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В столбце `days_employed` и `total_income` были обноружены пропуски.
Видимо информация по этим столбцам не предоставлялась.

In [6]:
df.loc[df['days_employed'].isna(), 'days_employed'] = df['days_employed'].median() # применим метод .median()
df.loc[df['total_income'].isna(), 'total_income'] = df['total_income'].median()

Убедимся, что в таблицу не осталось пропусков. Для этого ещё раз подсчитаем пропущенные значения.

In [7]:
display('Пропуски после:', df.isna().sum()) # посчёт пропусков

'Пропуски после:'

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

**Вывод**

В нашем случае, для корректных подсчётов, будет правельней заполнить их средними значениями методом `median()`

### Замена типа данных

Вызовим общую информацию о данных в таблице.

In [8]:
df.info() # получение информаци о данных в таблице

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

В столбцах `days_employed` и `total_income` стоят типы данных `float64`

Нужно перевести их в целые числа (int)

In [9]:
df['days_employed'] = df['days_employed'].astype('int') # вызовим метод astype для получения нужного типа значений
df['total_income'] = df['total_income'].astype('int') # вызовим метод astype для получения нужного типа значений

Проверим изменения.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

Так же в столбце `days_employed` были замечены две аномалии:
* отрицательные числа 
* очень большие значения

Решение:
* привести все значения к положительным значениям.

* числа, которые больще 200000, разделить на 24. Так как они указаны в часах, а не в днях.

In [11]:
df['days_employed'] = df['days_employed'].apply(abs) # вызовим метод apply(abs)  
def days_in_ags(i): # напишим функцию, котрая будет делить все числа больше 200000 на 24 
    if i > 200000:
        i = i/24
        return i
    
    return i
df['days_employed'] = df['days_employed'].apply(days_in_ags) # применим функцию к столбцу

In [36]:
df['days_employed'].abs()

0         8437.000000
1         4024.000000
2         5623.000000
3         4124.000000
4        14177.750000
             ...
21466     4529.000000
21467    14330.708333
21468     2113.000000
21469     3112.000000
21470     1984.000000
Name: days_employed, Length: 21471, dtype: float64

Проверим результат

In [12]:
display(df.head(10)) # ввызовим первые 10 строк нашей таблицы

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.00,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья
1,1,4024.00,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,5623.00,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья
3,3,4124.00,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование
4,0,14177.75,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу
5,0,926.00,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья
6,0,2879.00,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем
7,0,152.00,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823,образование
8,2,6929.00,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы
9,0,2188.00,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи

**Вывод**

К столбцам `days_employed` и `total_income` применили метода astype() - С помошью этого метода, можно перевести в нужный тип значения.

### Обработка дубликатов

Подсчитаем явные дубликаты в таблице.

In [13]:
df.duplicated().sum() # подсчёт явных дубликатов

54

Вызовите специальный метод `pandas`, чтобы удалить явные дубликаты:

In [14]:
df = df.drop_duplicates().reset_index(drop=True) # удаление явных дубликатов

Проверим результат

In [15]:
df.duplicated().sum() # подсчёт явных дубликатов

0

**Вывод**

Для удаления явных дубликатов был выбран метод `.drop_duplicates().reset_index(drop=True)` так как он удаляет старые индексы и формирует новые.

### Лемматизация

Импотрируем библиотеку `PyMystem` и сохраним в переменную `m` для удобства

In [16]:
from pymystem3 import Mystem 
m = Mystem()
from collections import Counter

Получим уникальные значения столбца `purpose`

In [17]:
purpose_list = df['purpose'].unique()

Объеденим их в одну строку с помощью `join` и лемматизируем

In [18]:
purpose_str = m.lemmatize(''.join(df['purpose']))

Для подсчёта числа упоминаний в тексте лемматизированых слов, вызовем контейнер `Couter` из модуля `colletions`

In [19]:
display(Counter(purpose_str))

Counter({'покупка': 1456,
         ' ': 33596,
         'жильяприобретение': 24,
         'автомобиляпокупка': 414,
         'жильядополнительный': 23,
         'образованиесыграть': 58,
         'свадьбупокупка': 173,
         'жильяоперация': 151,
         'с': 2918,
         'жильемобразованиен': 7,
         'проведение': 773,
         'свадьбыпокупка': 167,
         'жилье': 1290,
         'для': 1290,
         'семьипокупка': 128,
         'недвижимостипокупка': 799,
         'коммерческий': 1312,
         'недвижимостисыграть': 129,
         'свадьбуприобретение': 15,
         'жилой': 1231,
         'недвижимостистроительство': 311,
         'собственный': 635,
         'недвижимостинедвижимостьстроительство': 12,
         'недвижимостина': 396,
         'подержать': 896,
         'автомобиляна': 183,
         'свой': 1705,
         'автомобилянедвижимостьприобретение': 2,
         'подержанный': 68,
         'автомобилясыграть': 73,
         'свадьбуоперация': 102,
         'недвижимостьюпокупка': 390,
         'недвижимостиобразованиестроительство': 9,
         'недвижимостиоперация': 462,
         'недвижимостьюжильен': 8,
         'со': 627,
         'недвижимостьюн': 198,
         'свадьбыавтомобилиприобретение': 2,
         'автомобиляобразованиезаняться': 3,
         'образованиемпокупка': 210,
         'недвижимостисделка': 161,
         'автомобилемполучение': 61,
         'образованияприобретение': 30,
         'свое': 47,
         'автомобилязаняться': 77,
         'образованиемсделка': 30,
         'автомобилемный': 101,
         'свадьбыстроительство': 68,
         'недвижимостиавтомобильавтомобилисвадьбаполучение': 1,
         'дополнительный': 447,
         'образованияпокупка': 263,
         'жильяавтомобилисыграть': 4,
         'свадьбуобразованиеобразованиенедвижимостьоперация': 1,
         'недвижимостьюзаняться': 85,
         'недвижимостиполучение': 219,
         'высокий': 922,
         'образованияоперация': 157,
         'жильемсделка': 27,
         'автомобилемоперация': 123,
         'семьиоперация': 75,
         'жильяпокупка': 263,
         'недвижимостиавтомобилиоперация': 15,
         'автомобилясва': 43,
         'автомобильсделка': 25,
         'автомобилемавтомобилисделка': 2,
         'автомобилемпрофильный': 12,
         'образованиежильежильеоперация': 1,
         'недвижимостьювысший': 48,
         'образованиесвадьбапокупка': 16,
         'сдачина': 66,
         'свадьбысделка': 18,
         'жильемпокупка': 131,
         'свадьбусделка': 49,
         'свадьбыавтомобильпокупка': 7,
         'недвижимостипрофильный': 76,
         'образованиепокупка': 271,
         'сдачиавтомобильоперация': 1,
         'автомобилястроительство': 187,
         'сдачистроительство': 63,
         'автомобилемобразованиепокупка': 2,
         'жильянедвижимостьнедвижимостьобразованиеоперация': 1,
         'недвижимостьюоперация': 253,
         'недвижимостивысший': 82,
         'образованиеавтомобильавтомобилипокупка': 1,
         'сдачиоперация': 76,
         'недвижимостьюсвадьбастроительство': 10,
         'автомобилемавтомобильоперация': 4,
         'недвижимостьюполучение': 122,
         'образованияавтомобильобразованиепокупка': 2,
         'недвижимостижильеоперация': 16,
         'недвижимостьюсыграть': 79,
         'жильяремонт': 33,
         'жильюпокупка': 130,
         'недвижимостисвадьбасделка': 9,
         'автомобилемстроительство': 83,
         'недвижимостисваивать': 80,
         'автомобильстроительство': 48,
         'автомобиляоперация': 222,
         'жильемсыграть': 27,
         'свадьбусыграть': 25,
         'жильяжильеоперация': 9,
         'недвижимостьюдополнительный': 41,
         'образованиеполучение': 90,
         'образованиясделка': 65,
         'автомобилемобразованиен': 3,
         'сдачиприобретение': 16,
         'автомобиляполучение': 112,
         'образованияремонт': 35,
         'жильюн': 53,
         'жильемный': 68,
         'автомобиляжильен': 9,
         'недвижимостизаняться': 171,
         'автомобилемприобретение': 17,
         'жильясыграть': 42,
         'семьисвадьбаполучение': 1,
         'сдачиполучение': 32,
         'жильясва': 28,
         'автомобильный': 55,
         'свадьбывысший': 20,
         'образованиесва': 34,
         'образованиядополнительный': 31,
         'автомобилясделка': 87,
         'жильяпрофильный': 25,
         'образованиеоперация': 164,
         'недвижимостьюстроительство': 164,
         'недвижимостьюобразованиестроительство': 9,
         'свадьбуавтомобилипокупка': 3,
         'жильястроительство': 128,
         'образованияжильеремонт': 4,
         'жильюсделка': 34,
         'автомобилемсвадьбапокупка': 7,
         'семьисвадьбан': 2,
         'автомобиляпрофильный': 40,
         'образованиежильен': 1,
         'свадьбыоперация': 90,
         'жильясвадьбавысший': 4,
         'автомобилемпокупка': 185,
         'жильяполучение': 87,
         'образованияжильепокупка': 8,
         'жильемсвадьбасвадьбапокупка': 2,
         'недвижимостинедвижимостьоперация': 18,
         'жильяна': 140,
         'автомобиляремонт': 39,
         'жильюавтомобильзаняться': 1,
         'образованиемзаняться': 39,
         'образованиемсыграть': 26,
         'недвижимостиремонт': 106,
         'жильюсыграть': 20,
         'свадьбуавтомобильоперация': 3,
         'жильемремонт': 16,
         'автомобиляавтомобилизаняться': 4,
         'образованиемный': 96,
         'жильюполучение': 28,
         'образованияпрофильный': 25,
         'образованиенедвижимостьнедвижимостьсвадьбан': 1,
         'недвижимостидополнительный': 76,
         'недвижимостьюнедвижимостьстроительство': 9,
         'недвижимостьюремонт': 57,
         'жильюнедвижимостьпокупка': 6,
         'сдачидополнительный': 12,
         'недвижимостиобразованиепокупка': 17,
         'семьисделка': 30,
         'автомобилемсва': 22,
         'свадьбысыграть': 22,
         'недвижимостиприобретение': 74,
         'автомобильвысший': 14,
         'образованиен': 125,
         'автомобильоперация': 69,
         'недвижимостьюсделка': 61,
         'автомобилемсделка': 47,
         'образованиязаняться': 59,
         'недвижимостиавтомобильстроительство': 9,
         'недвижимостисвадьбажильепокупка': 1,
         'сдачипокупка': 154,
         'сдачижильепокупка': 2,
         'недвижимостисвадьбан': 23,
         'автомобилянедвижимостьоперация': 7,
         'недвижимостьюавтомобильнедвижимостьполучение': 2,
         'жильюжильен': 2,
         'жильясделка': 44,
         'автомобилемсыграть': 42,
         'свадьбунедвижимостьполучение': 4,
         'жильемавтомобилидополнительный': 2,
         'образованиявысший': 19,
         'автомобилянедвижимостьжильеобразованиеремонт': 1,
         'жильюоперация': 86,
         'свадьбын': 78,
         'свадьбыполучение': 47,
         'образованиесделка': 61,
         'недвижимостьюсвадьбаоперация': 7,
         'недвижимостьюсвадьбасыграть': 5,
         'свадьбуавтомобильремонт': 1,
         'жильюжильепрофильный': 2,
         'сдачиремонт': 23,
         'жильюсвадьбаприобретение': 2,
         'образованиястроительство': 117,
         'жильемоперация': 87,
         'семьисыграть': 22,
         'свадьбудополнительный': 13,
         'автомобилемзаняться': 35,
         'образованиемжильен': 3,
         'недвижимостьюсва': 50,
         'автомобильсвадьбапрофильный': 1,
         'жильяавтомобильный': 4,
         'жильянедвижимостьжильестроительство': 1,
         'свадьбыавтомобилисвадьбаоперация': 1,
         'свадьбувысший': 15,
         'семьин': 68,
         'свадьбыдополнительный': 14,
         'образованиестроительство': 118,
         'автомобилявысший': 40,
         'образованиян': 131,
         'автомобилянедвижимостьнедвижимостьсвадьбажильесва': 1,
         'автомобильжильенедвижимостьсделка': 1,
         'автомобиляавтомобилистроительство': 4,
         'жильюобразованиен': 2,
         'свадьбусвадьбаприобретение': 2,
         'свадьбустроительство': 50,
         'недвижимостьюавтомобильоперация': 7,
         'жильемстроительство': 60,
         'свадьбыавтомобилиоперация': 1,
         'недвижимостиавтомобилисыграть': 7,
         'жильемавтомобилипокупка': 2,
         'недвижимостинедвижимостьсвадьбасыграть': 1,
         'свадьбуобразованиеобразованиен': 1,
         'жильемприобретение': 12,
         'свадьбун': 89,
         'жильюнедвижимостьжильепокупка': 1,
         'свадьбыпрофильный': 13,
         'автомобилемобразованиестроительство': 3,
         'недвижимостиобразованиедополнительный': 3,
         'семьиремонт': 25,
         'жильюстроительство': 45,
         'недвижимостижильевысший': 3,
         'сдачизаняться': 29,
         'автомобилясвадьбадополнительный': 1,
         'автомобиляприобретение': 46,
         'свадьбупрофильный': 9,
         'свадьбыремонт': 30,
         'жильяавтомобильпрофильный': 2,
         'образованиезаняться': 49,
         'семьистроительство': 51,
         'жильемнедвижимостьсыграть': 1,
         'свадьбуполучение': 46,
         'образованиемнедвижимостьпокупка': 7,
         'семьизаняться': 21,
         'жильявысший': 21,
         'жильюсва': 9,
         'автомобильремонт': 12,
         'сдачисваивать': 14,
         'сдачивысший': 10,
         'недвижимостьюавтомобильпокупка': 13,
         'недвижимостинедвижимостьсделка': 3,
         'автомобилемавтомобильзаняться': 1,
         'недвижимостисвадьбаремонт': 3,
         'жильюзаняться': 25,
         'образованиемполучение': 63,
         'образованиемнедвижимостьоперация': 3,
         'жильяобразованиен': 3,
         'свадьбыавтомобилидополнительный': 2,
         'образованиемоперация': 92,
         'недвижимостьюсвадьбадополнительный': 4,
         'свадьбусвадьбапокупка': 7,
         'жильязаняться': 51,
         'сдачижильеремонт': 2,
         'образованиясва': 28,
         'автомобильпрофильный': 6,
         'образованиенедвижимостьпокупка': 8,
         'автомобиляавтомобильпокупка': 12,
         'образованиемвысший': 22,
         'образованиясвадьбадополнительный': 2,
         'образованиедополнительный': 30,
         'недвижимостьюжильеавтомобильпокупка': 1,
         'недвижимостиавтомобилиавтомобилин': 2,
         'свадьбуремонт': 18,
         'жильюремонт': 20,
         'образованияавтомобилин': 1,
         'образованиесвадьбастроительство': 7,
         'образованияавтомобилипокупка': 7,
         'свадьбыжильенедвижимостьн': 1,
         'свадьбужильен': 2,
         'автомобилясвадьбастроительство': 4,
         'жильемнедвижимостьремонт': 1,
         'жильювысший': 11,
         'образованиемжильестроительство': 4,
         'недвижимостиавтомобилин': 8,
         'автомобилясвадьбаполучение': 2,
         'образованиясыграть': 47,
         'жильюавтомобилистроительство': 2,
         'жильемполучение': 40,
         'недвижимостисвадьбазаняться': 5,
         'свадьбуобразованиедополнительный': 1,
         'жильемнедвижимостьзаняться': 3,
         'образованиемсвадьбаполучение': 1,
         'семьиавтомобильоперация': 2,
         'недвижимостьюприобретение': 40,
         'образованиевысший': 29,
         'образованиесвадьбаавтомобилистроительство': 1,
         'жильюприобретение': 13,
         'автомобиляжильепокупка': 14,
         'недвижимостиобразованиеполучение': 2,
         'жильемавтомобильсделка': 1,
         'жильемвысший': 14,
         'автомобильзаняться': 23,
         'образованияжильен': 3,
         'жильюпрофильный': 16,
         'образованиепрофильный': 28,
         'свадьбузаняться': 36,
         'семьисваивать': 16,
         'жильемжильепокупка': 3,
         'недвижимостисвадьбапокупка': 28,
         'семьиавтомобилиполучение': 1,
         'недвижимостиавтомобильжильевысший': 1,
         'семьинедвижимостьсыграть': 1,
         'недвижимостисвадьбаоперация': 18,
         'жильюнедвижимостьнедвижимостьн': 1,
         'недвижимостьюпрофильный': 40,
         'автомобилемавтомобилиавтомобильоперация': 1,
         'образованиемстроительство': 58,
         'сдачиавтомобильполучение': 1,
         'свадьбынедвижимостьсыграть': 2,
         'недвижимостьюжильестроительство': 7,
         'недвижимостисвадьбасыграть': 7,
         'свадьбусваивать': 15,
         'свадьбыприобретение': 29,
         'образованиемсвадьбапокупка': 6,
         'семьиавтомобильсделка': 2,
         'семьипрофильный': 12,
         'недвижимостьюсвадьбасва': 4,
         'автомобильприобретение': 12,
         'автомобилемдополнительный': 23,
         'жильемсва': 10,
         'автомобилемсвадьбасва': 3,
         'автомобильсвадьбан': 1,
         'автомобильжильен': 3,
         'автомобиляжильеприобретение': 1,
         'образованиеавтомобильный': 2,
         'недвижимостьюжильепокупка': 13,
         'автомобилемнедвижимостьполучение': 1,
         'образованиеприобретение': 32,
         'недвижимостинедвижимостьнедвижимостьпрофильный': 1,
         'недвижимостижильестроительство': 13,
         'образованиежильеавтомобильпокупка': 1,
         'жильясвадьбаоперация': 4,
         'недвижимостьюсвадьбан': 12,
         'жильемзаняться': 21,
         'недвижимостьюжильежильезаняться': 1,
         'автомобильпокупка': 84,
         'автомобильполучение': 33,
         'недвижимостьюобразованиежильевысший': 1,
         'жильянедвижимостьсвадьбапокупка': 1,
         'свадьбусвадьбадополнительный': 1,
         'недвижимостьюсвадьбапрофильный': 3,
         'образованиенедвижимостьавтомобилин': 1,
         'жильюнедвижимостьн': 3,
         'образованиемпрофильный': 25,
         'образованиесвадьбанедвижимостьстроительство': 1,
         'образованиемнедвижимостьсвадьбасвадьбан': 1,
         'жильяавтомобилин': 2,
         'автомобилемжильедополнительный': 1,
         'автомобилясвадьбаобразованиеоперация': 1,
         'сдачисыграть': 17,
         'образованиянедвижимостьполучение': 4,
         'образованиеобразованиевысший': 1,
         'семьиполучение': 35,
         'недвижимостьюавтомобильнедвижимостьавтомобилипокупка': 1,
         'автомобилясвадьбаприобретение': 1,
         'автомобилядополнительный': 46,
         'автомобиляавтомобильполучение': 4,
         'недвижимостиавтомобилистроительство': 12,
         'семьисвадьбаприобретение': 2,
         'недвижимостиавтомобилижильепокупка': 1,
         'автомобильдополнительный': 10,
         'образованиемавтомобильоперация': 3,
         'образованияполучение': 98,
         'образованияобразованиепокупка': 11,
         'жильемобразованиестроительство': 3,
         'автомобильнедвижимостьоперация': 2,
         'сдачисвадьбаремонт': 1,
         'свадьбыжильезаняться': 3,
         'жильемобразованиепокупка': 1,
         'жильемжильеприобретение': 1,
         'свадьбыавтомобильприобретение': 1,
         'недвижимостьюсвадьбапокупка': 14,
         'автомобиляобразованиестроительство': 5,
         'образованияавтомобилинедвижимостьн': 1,
         'свадьбызаняться': 31,
         'свадьбыобразованиедополнительный': 1,
         'образованияжильеоперация': 3,
         'семьиавтомобилижильесвадьбаавтомобилидополнительный': 1,
         'автомобилянедвижимостьвысший': 1,
         'недвижимостисвадьбапрофильный': 4,
         'сдачисвадьбасвадьбажильепокупка': 1,
         'свадьбужильепокупка': 2,
         'свадьбысвадьбапокупка': 6,
         'свадьбыавтомобилин': 3,
         'недвижимостьюнедвижимостьпрофильный': 3,
         'образованиянедвижимостьсвадьбан': 1,
         'образованияжильеприобретение': 2,
         'семьинедвижимостьпрофильный': 2,
         'образованиеавтомобильпокупка': 8,
         'недвижимостиобразованиеавтомобильоперация': 1,
         'автомобилемнедвижимостьн': 6,
         'сдачисвадьбапокупка': 4,
         'свадьбысвадьбан': 2,
         'автомобилемжильеавтомобильсвадьбаполучение': 1,
         'недвижимостижильезаняться': 6,
         'образованиемремонт': 31,
         'жильяобразованиеоперация': 4,
         'недвижимостьюавтомобильный': 5,
         'образованиеремонт': 32,
         'свадьбысва': 18,
         'жильемсвадьбасвадьбасвадьбасва': 1,
         'свадьбыобразованиеавтомобилипокупка': 1,
         'автомобилясвадьбапокупка': 18,
         'автомобиляавтомобильавтомобильный': 1,
         'автомобиляжильеоперация': 5,
         'жильюсвадьбадополнительный': 2,
         'автомобилянедвижимостьстроительство': 7,
         'свадьбуавтомобилисвадьбапрофильный': 1,
         'автомобилянедвижимостьобразованиевысший': 1,
         'автомобиляавтомобильоперация': 7,
         'сдачисделка': 33,
         'автомобилянедвижимостьпокупка': 19,
         'недвижимостиавтомобильполучение': 5,
         'недвижимостьюжильеполучение': 7,
         'жильюавтомобильпокупка': 4,
         'автомобильсыграть': 15,
         'семьидополнительный': 12,
         'семьивысший': 19,
         'образованиенедвижимостьоперация': 2,
         'недвижимостисвадьбастроительство': 12,
         'недвижимостьюсвадьбажильесыграть': 1,
         'свадьбуавтомобилисвадьбасделка': 1,
         'свадьбыжильеприобретение': 1,
         'свадьбуобразованиестроительство': 1,
         'недвижимостисвадьбасвадьбапокупка': 1,
         'недвижимостиобразованиесделка': 5,
         'недвижимостиавтомобилисделка': 5,
         'автомобилемсвадьбапрофильный': 3,
         'жильемсвадьбаполучение': 1,
         'образованияжильенедвижимостьпрофильный': 1,
         'недвижимостиобразованиесва': 5,
         'автомобилемнедвижимостьоперация': 7,
         'автомобилемжильесделка': 3,
         'автомобилемсвадьбаремонт': 1,
         'жильюдополнительный': 12,
         'образованиемсвадьбанедвижимостьн': 1,
         'автомобильсвадьбастроительство': 2,
         'образованиемжильепокупка': 7,
         'жильяавтомобильполучение': 3,
         'образованиежильепрофильный': 2,
         'недвижимостинедвижимостьсвадьбастроительство': 1,
         'жильюобразованиестроительство': 2,
         'жильянедвижимостьпокупка': 6,
         'семьиобразованиепокупка': 4,
         'недвижимостьюсвадьбазаняться': 4,
         'образованиеобразованиеполучение': 2,
         'недвижимостисвадьбаприобретение': 3,
         'образованияавтомобилизаняться': 2,
         'автомобилясвадьбан': 7,
         'автомобиляжильежильеприобретение': 1,
         'жильемсвадьбасделка': 4,
         'недвижимостиобразованиезаняться': 5,
         'недвижимостиавтомобилиавтомобилистроительство': 1,
         'автомобилемавтомобильполучение': 2,
         'образованияавтомобилисыграть': 3,
         'автомобиляавтомобилинедвижимостьоперация': 1,
         'свадьбуавтомобилипрофильный': 1,
         'жильянедвижимостьнедвижимостьсыграть': 1,
         'автомобилянедвижимостьнедвижимостьприобретение': 1,
         'жильянедвижимостьсделка': 1,
         'недвижимостиавтомобилинедвижимостьзаняться': 1,
         'семьисвадьбаоперация': 4,
         'жильюавтомобильсвадьбанедвижимостьн': 1,
         'образованиемавтомобилиоперация': 5,
         'образованиясвадьбаоперация': 7,
         'недвижимостьюавтомобильстроительство': 6,
         'свадьбусвадьбасвадьбазаняться': 1,
         'автомобиляжильесвадьбастроительство': 1,
         'образованиянедвижимостьоперация': 3,
         'недвижимостьюнедвижимостьжильепокупка': 2,
         'автомобилемавтомобильпокупка': 4,
         'жильемсвадьбавысший': 2,
         'автомобилясвадьбазаняться': 2,
         'семьижильеоперация': 3,
         'свадьбунедвижимостьнедвижимостьжильеполучение': 1,
         'недвижимостьюавтомобильсыграть': 2,
         'свадьбуобразованиеоперация': 3,
         'свадьбыавтомобилиобразованиепокупка': 1,
         'образованиемдополнительный': 18,
         'жильяавтомобилипокупка': 4,
         'автомобильсвадьбапокупка': 3,
         'недвижимостиобразованиесыграть': 5,
         'недвижимостинедвижимостьобразованиезаняться': 1,
         'жильяжильедополнительный': 2,
         'недвижимостиавтомобильпокупка': 19,
         'образованияобразованиесва': 2,
         'автомобильжильепокупка': 5,
         'недвижимостижильеполучение': 7,
         'жильемсвадьбаавтомобильсделка': 1,
         'недвижимостисвадьбажильезаняться': 2,
         'свадьбусвадьбажильеремонт': 1,

На основе полученных лемм создадим категории в новом столбце. 

Для этого напишем функцию, а затем применим её с помощью `apply`

In [20]:
def purpose_cat(word):
        if 'авто' in word:
            return 'автомобиль'
        elif 'жил' in word or 'недвиж' in word:
            return 'недвижимость'
        elif 'образов' in word:
            return 'образование'
        elif 'свадьб' in word:
            return 'свадьба'
        return 'прочее'
df['purpose_category'] = df['purpose'].apply(purpose_cat)

Выведим первые 10 строк нашей таблицы на экран

In [21]:
display(df.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category
0,1,8437.00,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,недвижимость
1,1,4024.00,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль
2,0,5623.00,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,недвижимость
3,3,4124.00,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование
4,0,14177.75,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба
5,0,926.00,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,недвижимость
6,0,2879.00,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,недвижимость
7,0,152.00,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование
8,2,6929.00,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба
9,0,2188.00,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,недвижимость

**Вывод**

Для лемматизаци целей кредита был выполнен ряд шагов:
* Шаг.1 Импотрировали библиотеку PyMystem и сохранили в переменную m.
* Шаг.2 Для подсчёта числа упоминаний в тексте лемматизированых слов, вызвали контейнер `Couter` из модуля `colletions`.
* Шаг.3 Получили уникальные значения столбца `purpose`.
* Шаг.4 Объеденили полученные уникальные значения в одну строку с помощью `join` и лемматизировали.
* Шаг.5 На основье полученных лемм создадали категории в новом столбце. Для этого была написана функцию, а затем применили её с помощью apply

### Категоризация данных

Категоризация столбца `children`

Посмотрим уникальные значения столбца `childrebn` с помощью метода `unique`

In [22]:
df['children'].unique() # просмотр уникальных значений

array([ 1,  0,  3,  2, -1,  4, 20,  5])

Было замеченно два артифакта:
* Отрицательное число детей (-1)
* Не тепичное большое количество детей (20)

Решение:

* Привести все значения к положительному результату
* Написать фукцию, которая будет делить любые значения больше 10 на 10.

In [23]:
df['children'] = df['children'].apply(abs)

def removing_the_children(i):
    if i > 10:
        i = i/10
        return i
    return i
df['children'] = df['children'].apply(removing_the_children)

Проверим результат

In [24]:
df['children'].unique()

array([1., 0., 3., 2., 4., 5.])

Разобьем столбец `children` на три категории

In [25]:
children_category = df[['debt', 'children']]
children_category = children_category.drop_duplicates().reset_index(drop=True)
children_category
def children_category(children):
    if children <= 1:
        return 'нет детей'
    if 0 < children <= 2:
        return '1-2 рёбенка'
    return 'много детей'

df['children_category'] = df['children'].apply(children_category)

Проверим результат. Выведим первые 10 сторк нашей таблицы.

In [26]:
display(df.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category,children_category
0,1.0,8437.00,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,недвижимость,нет детей
1,1.0,4024.00,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль,нет детей
2,0.0,5623.00,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,недвижимость,нет детей
3,3.0,4124.00,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование,много детей
4,0.0,14177.75,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба,нет детей
5,0.0,926.00,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,недвижимость,нет детей
6,0.0,2879.00,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,недвижимость,нет детей
7,0.0,152.00,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование,нет детей
8,2.0,6929.00,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба,1-2 рёбенка
9,0.0,2188.00,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,недвижимость,нет детей

Разобьем на категории столбцы `family_status_id` и `family_status`

Посмотрим уникальные значения столбца `family_status`

In [27]:
df['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

In [28]:
category_marial_status = df[['family_status_id', 'family_status']]
category_marial_status = category_marial_status.drop_duplicates().reset_index(drop=True)
category_marial_status

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  Не женат / не замужем

Найдём минимальный, средний и максимальный уровень дохода

In [29]:
print(df['total_income'].min())
print(df['total_income'].median())
print(df['total_income'].max())

20667
145017.0
2265604

Разобьем на категории:
* низкий доход - если доход меньше 50000
* средний доход - если доход больше 50000 и меньше 200000
* высокий доход - если доход больше 200000

In [30]:
income_category = df[['debt', 'total_income']]
income_category = income_category.drop_duplicates().reset_index(drop=True)
income_category
def money(total_income):
    if total_income <= 50000:
        return 'низкий доход'
    if total_income <=200000:
        return 'средний доход'
    return 'высокий доход'

df['income_category'] = df['total_income'].apply(money)

Проверим результат

In [31]:
display(df.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category,children_category,income_category
0,1.0,8437.00,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,недвижимость,нет детей,высокий доход
1,1.0,4024.00,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль,нет детей,средний доход
2,0.0,5623.00,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,недвижимость,нет детей,средний доход
3,3.0,4124.00,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование,много детей,высокий доход
4,0.0,14177.75,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба,нет детей,средний доход
5,0.0,926.00,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,недвижимость,нет детей,высокий доход
6,0.0,2879.00,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,недвижимость,нет детей,высокий доход
7,0.0,152.00,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823,образование,образование,нет детей,средний доход
8,2.0,6929.00,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,свадьба,1-2 рёбенка,средний доход
9,0.0,2188.00,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,недвижимость,нет детей,средний доход

**Вывод**

Были созданны словари по количеству детей, по семейному положению доходу заёмщика. Для того чтобы ответить на поставленные вопросы.

## 3. Ответить на поставленые вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [32]:
report = df.groupby('children').agg({'debt':['mean','count']})
report = report.rename(columns = {'debt':'Зависимость между наличием детей и возвратом кредита в срок'}, level=0)
report = report.rename(columns = {'mean':'%невозврата', 'count':'кол-во заемщиков'}, level=1)
report.index = report.index.rename('кол-во детей')
report.style.format({('Зависимость между наличием детей и возвратом кредита в срок','%невозврата'):'{:.2%}',('Зависимость между наличием детей и возвратом кредита в срок','кол-во заемщиков'):'{:.0f}'})

**Вывод**

Возврат кредита в срок зависит от количество детей. У заемщиков, у которых нет детей, процент не возврата меньше чем у заёмщиков с одним и более детей. Но у клиентов, у которых пять детей, процент невозврата кредита нулевой.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [33]:
report = df.groupby('family_status').agg({'debt':['mean','count']})
report = report.rename(columns = {'debt':'Зависимость между семейным положением и возвратом кредита в срок?'}, level=0)
report = report.rename(columns = {'mean':'%невозврата', 'count':'кол-во заемщиков'}, level=1)
report.index = report.index.rename('семейное положение')
report.style.format({('Зависимость между семейным положением и возвратом кредита в срок?','%невозврата'):'{:.2%}',('Зависимость между семейным положением и возвратом кредита в срок?','кол-во заемщиков'):'{:.0f}'})

**Вывод**

Возврат кредита в срок зависит от семейного положения заёмщика. Самый высокий процент невозврата кредита в срок у заёмщиков, которые `не женаты/не замужем` и у тех, которые живут в `гражданском браке`. Самый низкий процент невозврата кредита у `вдовцов/вдов` и у людей в разводе.

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [34]:
report = df.groupby('income_category').agg({'debt':['mean','count']})
report = report.rename(columns = {'debt':'Зависимость между уровнем дохода и возвратом кредита в срок'}, level=0)
report = report.rename(columns = {'mean':'%невозврата', 'count':'кол-во заемщиков'}, level=1)
report.index = report.index.rename('уровень дохода')
report.style.format({('Зависимость между уровнем дохода и возвратом кредита в срок','%невозврата'):'{:.2%}',('Зависимость между уровнем дохода и возвратом кредита в срок','кол-во заемщиков'):'{:.0f}'})

**Вывод**

Люди со средним доходом берут кредыты чаще, тем самым процент невозврта кредита в срок больше, чем у людей с высоким доходом. Низкий процент не возврата у людей с низким доходом.

- Как разные цели кредита влияют на его возврат в срок?

In [35]:
report = df.groupby('purpose_category').agg({'debt':['mean','count']})
report = report.rename(columns = {'debt':'Цели кредита и взвратом кредита в срок'}, level=0)
report = report.rename(columns = {'mean':'%невозврата', 'count':'кол-во заемщиков'}, level=1)
report.index = report.index.rename('цель кредита')
report.style.format({('Цели кредита и взвратом кредита в срок','%невозврата'):'{:.2%}',('Цели кредита и взвратом кредита в срок','кол-во заемщиков'):'{:.0f}'})

**Вывод**

Самый низкий процент невозврата кредита в срок у заёмщиков, которые взяли кредит с целью на приобретения недвижимости. Выше просрочка у тех, которые брали кредит на автомобиль и образование. Процент невозврата по кредиту с целью свадьбы примерно такой же как и на недвижимость

## 4. Общий вывод

Общий вывод - чем больше детей, тем меньше платят в срок кредит, но у заёмщиков, у которых пять детей, процент невозврата кредита в срок равен нулю. Семейный статус влияет на оплату кредита в срок, люди, которые не были в браке реже платят в срок, чем те, которые были, причем овдовевшие и разведенные люди платят чаще, чем люди в браке.

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.